@import 'base/variables';
@import 'modules/switch';
@import 'modules/buttons';

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: $color-text;
  outline: none;
  box-shadow: none;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  width: 400px;
  padding: $spacing-l;

  text-rendering: optimizeLegibility;
}

form {
  width: 100%;
  padding: 0;
}

label {
  margin-left: $spacing-m;
}

#top1, #top2 {
  width: 135px;
}

.form-group {
  margin: 0;
  border-top: $border-base;
}

input[type='text'], input[type='url'], input[type='email'], input[type='number'] {
  font-size: $size-font-m;
  width: 95%;
  height: $size-input-height;
  margin-right: $spacing-s;
  padding: 10px;
  color: $color-text;
  border: 0;
  outline: none;
}

input:focus {
  border-left: 5px solid #eee;
  box-shadow: none;
}

select {
  /*Removes default arrow from firefox*/
  width: 100px;
  margin: $spacing-m;
  padding: $spacing-m;
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: '';
  color: $color-text;
  /*Removes default chrome and safari style*/
  border: $border-base !important;
  /*Removes border*/
  /*My custom style for fonts*/
  border-radius: 0;
  box-shadow: none;

     -moz-appearance: none;
  /* Removes Default Firefox style*/
  -webkit-appearance: none;
  /*Width of select dropdown to give space for arrow image*/
}

#credit_card_type {
  width: 204px;
}

::-webkit-input-placeholder {
  font-weight: 100;
  color: $color-button-disabled;
}

.title {
  font-size: $size-font-l;
  font-weight: 500;
  padding: $size-font-l;
  text-align: center;
}

.top-menu {
  display: flex;

  justify-content: space-between;
  align-items: center;
  a {
    display: flex;

    align-items: center;
  }
  .goleft {
    i.material-icons {
      margin-right: $spacing-s;
    }
  }
  .goright {
    i.material-icons {
      margin-left: $spacing-s;
    }
  }
}
