@import "base/variables";
@import "modules/switch";

a:link, a:visited, a:active, a:hover {
  box-shadow: none;
  color: $color-text;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 24px;
  text-rendering: optimizeLegibility;
  width: 400px;
}

form {
  padding: 0;
  width: 100%;
}

label {
  margin-left: 10px;
}

#top1, #top2 {
  width: 135px;
}

.form-group {
  border-top: 1px solid #eee;
  margin: 0;
}

input[type="text"], input[type="url"], input[type="email"] {
  border: 0;
  color: $color-text;
  font-size: 14px;
  height: 48px;
  margin-right: 5px;
  outline: none;
  padding: 10px;
  width: 95%;
}

input:focus {
  border-left: 5px solid #eee;
  box-shadow: none;
}

select {
     -moz-appearance: none;
  /* Removes Default Firefox style*/
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  border: 1px solid #eee !important;
  /*Removes border*/
  /*My custom style for fonts*/
  border-radius: 0;
  box-shadow: none;
  color: $color-text;
  margin: 10px;
  padding: 10px;
  text-indent: .01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
  width: 100px;
  /*Width of select dropdown to give space for arrow image*/
}

#credit_card_type {
  width: 204px;
}

button, button[type="submit"] {
  background-color: $color-button-standard;
  border: none;
  color: #fff;
  height: 48px;
  width: 100%;
}

#add_field_button {
  background-color: #bdbdbd;
}

#add_field_button:hover {
  background-color: $color-button-standard;
}

#stopMe, #clearAdd {
  background-color: $color-button-warn;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 20%;
}

#stopMe:hover {
  background-color: $color-button-standard;
}

#clickMe, #savenycAdd, #savetyoAdd, #saveSize {
  background-color: $color-button-standard;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 78%;
}

#clickMe {
  font-size: 24px;
}

#clickMe:hover {
  background-color: $color-button-warn;
}

::-webkit-input-placeholder {
  color: $color-button-disabled;
  font-weight: 100;
}

button[type="submit"]:disabled {
  background-color: $color-button-disabled !important;
}

.title {
  font-size: 22px;
  font-weight: 500;
  padding: 18px;
  text-align: center;
}

.goleft {
  float: left;
}

.goright {
  float: right;
}
