$white: #fff;
$grey-lighter: #eee;
$grey-light: #dbdbdb;
$grey: #424242;
$red: #ed1c24;

$spacing-s: 6px;
$spacing-m: 12px;
$spacing-l: 24px;
$spacing-xl: 48px;

$size-font-m: 14px;
$size-font-l: 22px;

$border-base: 1px solid $grey-lighter;

$color-text: $grey;

$color-button-disabled: $grey-light;
$color-button-standard: $grey;
$color-button-warn: $red;

$size-button-height: $spacing-xl;
$size-input-height: $spacing-xl;
